{% extends "base.html" %}
{% block style%}
    <!-- Custom styles for this template -->
    <link href="/static/css/navbar-fixed-top.css" rel="stylesheet">
<!--    <link href="/static/css/nav.css" rel="stylesheet"> -->
{% endblock %}
{% block script%}
    <script language="Javascript">
        {% if lighton %}var isLightOn = 1;{% else %}var isLightOn = 0;{% endif %}
        function LightOn() {
            isLightOn = 1-isLightOn;
            if (isLightOn) {
                send("light_on");
                $("#light_active").addClass('active');
           } else {
                send("light_off");
                $("#light_active").removeClass('active');
            }
        }
        var cam_mode = {{ cam_mode }};
        function SetResolution(r) {
            $("#resolution"+cam_mode).removeClass('disabled');
            $("#resolution"+r).addClass('disabled');
            cam_mode = r;
            $.ajax({
                type: "POST",
                url: "/set_resolution/" + r,
                success: function(html) {
                    $("#result").empty();
                    $("#result").append("Установлен режим: <b>" + html + "</b>");
                }
             });
        }
    </script>
{% endblock %}
{% block body %} onKeyDown="keyEvent()" {% endblock%}
{% block content %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            {% if mjpeg %}
            <li><a href="/admin/?last=/index">Администрирование</a></li>
            {% else %}
            <li><a href="/admin/?last=/mobile">Администрирование</a></li>
            {% endif %}
            {% if mjpeg %}
            <li class="active"><a href="/mobile">M-JPEG</a></li>
            {% else %}
            <li><a href="/index">M-JPEG</a></li>
            {% endif %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Разрешение <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% for r in resolutions %}
                <li id="resolution{{ r }}" {% if r == cam_mode %}class="disabled"{% endif %}>
                  <a href="#" onclick="SetResolution({{ r }})">{{ resolutions.get(r)[0] }} x {{ resolutions.get(r)[1] }}</a>
                </li>
                {% endfor %}
              </ul>
            </li><!--/.dropdown-menu -->
            <li id="light_active" {% if lighton %}class="active"{% endif %}><a href="#" onclick="LightOn()">Фонарь</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a><div id="realvolts">идет загрузка</div></a></li>
            <li><a><div id="temperature">идет загрузка</div></a></li>
            <li><a><div id="pressure">идет загрузка</div></a></li>
            <li><a href="/logout">Выход</a></li>
          </ul>
        </div>

      </div>  <!-- /container -->
    </div>  <!-- /navbar -->

    <div class="container">
      <table border="0" align="center">
        <tr>
          <td width="50"></td>
          <td align="center">
            <button type="button" class="btn btn-default" onclick="send('cam_up');">
              <span class="glyphicon glyphicon-chevron-up"></span>
            </button>
          </td>
          <td align="left" valign="center" colspan="3">
          </td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-default" onclick="send('cam_left');">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
          </td>
          <td>
            {% if mjpeg %}
            <img class="img-responsive img-rounded" src="/mjpeg"/>
            {% else %}
            <img class="img-responsive img-rounded" id="imgDisplay" src="/jpeg" NOSAVE onLoad="OnImgLoad()" /> 
            {% endif %}
          </td>
          <td>
            <button type="button" class="btn btn-default" onclick="send('cam_right');">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
          </td>
          <td width="50"></td>
          <td>
            <table border="0">
              <tr height="50">
                <td width="50"></td>
                <td width="50">
                  <button type="button" class="btn btn-default" onclick="send('move_forward');">
                    <span class="glyphicon glyphicon-arrow-up"></span>
                  </button>
                </td>
                <td width="50"></td>
              </tr>
              <tr height="50">
                <td>
                  <button type="button" class="btn btn-default" onclick="send('move_left');">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                  </button>
                </td>
                <td></td>
                <td>
                  <button type="button" class="btn btn-default" onclick="send('move_right');">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                  </button>
                </td>
              </tr>
              <tr height="50">
                <td></td>
                <td>
                  <button type="button" class="btn btn-default" onclick="send('move_backward');">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                  </button>
                </td>
                <td></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td width="50"></td>
          <td align="center">
            <button type="button" class="btn btn-default" onclick="send('cam_down');">
              <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
          </td>
          <td width="50"></td>
        </tr>
        <tr>
          <td colspan="3" align="center">
            <div id="result"></div>
          </td>
        </tr>
      </table>
    </div> <!-- /container -->
{% endblock %}
{% block script_end%}
    <script src="/static/js/command.js"></script>
    {% if not mjpeg %}
    <script src="/static/js/camera.js"></script>
    {% endif %}
{% endblock %}
